body{
	text-align: center;
	padding: 50px;
	animation-name: bounce in;
	animation-duration: 2s;
	background-color: black;
}
h1{
	font-size: 36px;
	color: yellow;
	opacity: 5;
	display:block;
}
h1:hover{
	text-decoration: underline;
	color:yellow;
}
img{
	width: 30%;
	display: block;
	opacity: 0.9;
	margin: 0 auto;
	border-radius: 200px;
	padding: 10px;
	border: 2px solid red;
	animation: bounceIn 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
	animation-timing-function: ease-in-out;
	animation-delay: 400ms;
	animation-iteration-count:;
	animation-direction: alternate;
	animation-fill-mode:backwards;
}
img:hover{
	border-color: yellow;
}
h2:hover{
	color: yellow;
}
img.one{
	margin-top: 30px;
	border-radius: 20px;
}
h2{
	max-width: 340px;
	margin: 0 auto;
	padding-top: 20px;
	color: #fff;
	padding-bottom: 15px;
	animation: bounceIn 5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
	animation-timing-function: ease-in-out;
	animation-delay: 400ms;
	animation-iteration-count: ;
	animation-direction: alternate;
	animation-fill-mode: backwards;
}
@keyframes bounceIn {
	0%{
		transform: scale(0.2);
	}
	50%{
		transform: scale(0.9);
	}
	100%{
		transform: scale(1);
	}
}
@media all and (max-width: 450px){
	img{
		width: 80%;
	}
	h2{
		font-size: 24px;
		font-weight: 900px;
	}
}